@{
    ViewBag.Title = "TechReviews";
}

<!--Display only a jumbotron with a button to leave a review-->
<div class="jumbotron">
    <h1>TechReviews</h1>
    <p class="lead">The most popular technology review site in the universe.</p>
    <p class="btn btn-lg">@Html.ActionLink("Leave Your Mark", "Index", "Reviews")</p>
</div>

